header {
    display: grid;
    justify-content: left;
    grid-area: header;
  }

header ul li {
    text-align: center;
    background-color: orange;
    height: 100%;
    width: 100%;
    list-style-type: none;
  }

header ul li li {
    margin-left: 4px;
    padding: 70px 70px;
    border-radius: 10px;
    border: 10px inset rgb(68, 68, 68);
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  }

header ul li li a {
    color: black;
  }