@use 'fuentes';
@use "generales";
@import "titulo";
@import "index";

.redSocial, .redSocial--social {
    border: 1px solic black;
    background-color: orange;
  }

.redSocial--social {
    font-size: 14px;
    color: orange;
  }

.my_mixin {
    height: 50px;
    width: 500px;
    background-color: orange;
  }